html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      #banner .swiper {
        width: 100%;
        height: 100%;
      }

      #banner .swiper-slide {
        background-position: center;
        background-size: cover;
      }
      #banner .swiper-slide img {
        display: block;
        width: 100%;
        
      }
      #banner .swiper-button-next,  #banner .swiper-button-prev{
        color: #414042;
      }
      
      /*블릿버튼 영역*/
#banner .mySwiper .swiper-pagination-bullet{background:#8e8498; width:10px; height:10px; opacity:0.5;}/* 블릿버튼 크기, 색상, 투명도 */
#banner .mySwiper .swiper-pagination-bullet-active{background: #414042;} /* 블릿버튼 페이지 표시날 때 투명도 */
#banner .mySwiper .swiper-pagination-fraction, 
#banner .mySwiper .swiper-pagination-custom, 
#banner .mySwiper .swiper-pagination-fraction, #event .swiper-pagination-custom, #event .swiper-container-horizontal > .swiper-pagination-bullets{bottom:10px;}/* 블릿버튼 위치 */